<html xmlns="http://www.w3.org/1999/xhtml">
    <head id="header">
        <title>Der Bibliothekskatalog der Paderborner Kapuziner</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/> <!-- Force MSIE not to use compatibility mode -->
        <link rel="shortcut icon" href="$shared/resources/images/exist_icon_16x16.ico"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"/>        
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" data-template="app:set-css"/> <!-- Wird nur für spezielle Seiten, wie z.B. die Edition gesetzt. -->
        
        <script src="https://kit.fontawesome.com/870c8f4834.js" crossorigin="anonymous"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"/>
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
        <script type="text/javascript" src="$app-root/resources/lib/openseadragon/openseadragon.min.js"/>
        <script type="text/javascript" data-template="app:set-js"/> <!-- Wird nur für spezielle Seiten, wie z.B. die Edition gesetzt. -->
        <script type="text/javascript" src="$app-root/resources/scripts/script.js"/>
        <script type="text/javascript" src="$app-root/resources/scripts/md5/jquery.md5.js"/> <!-- Hash-Funktion für die Wikidata-Image-Abfrage -->
    </head>
    <body>    
        <nav class="navbar navbar-expand-lg my-nav">
            <div class="container-fluid">
                <span class="navbar-brand"/> <!-- Damit der Button nach rechts rutscht -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-icon">   
                        <i class="fas fa-bars"/>
                    </span>                  
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">                     
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Startseite</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="edition.html?page=1">Edition</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="datenbank.html">Datenbank</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="projektbeschreibung.html">Projektbeschreibung</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="editionsrichtlinien.html">Editionsrichtlinien</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="impressum.html">Impressum</a>
                        </li>                        
                    </ul>                   
                </div>
            </div>
        </nav>
        
         

<!--    Hier kommt alles rein:-->
        <div id="content"/> 
        
        <a id="poweredby" href="http://exist-db.org"/>
        
        
        
        
    </body>
        
</html>